#item-box {
    max-width: 70%;
    text-align: justify;
    padding: 1.2em;
    margin: 20% auto 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F0F0F0;
}

#item-box p {
    margin : auto;
}

#item-box > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#item-box > div > * {
    flex: 50%;
}

#item-box input {
    border: 1px solid #C5C5C5;
    padding: 2px
}

#item-box input[type=text] {
    min-height: 2em;
}

#item-box button {
    border: 0px
}