#item-box {
    max-width: 70%;
    text-align: justify;
    padding: 1.2em;
    margin: 20% auto 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F0F0F0;
}

#item-box p {
    margin : auto;
}

#item-box > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#item-box > div > * {
    flex: 50%;
}

#item-box input {
    border: 1px solid #C5C5C5;
    padding: 2px
}

#item-box input[type=text] {
    min-height: 2em;
}

#item-box button {
    border: 2px
}

.notification {
    color: white;
    padding: 20px 30px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    font-size: 16px;
    font-weight: bold;
}

.suc-notif {
    background-color: green;
    border-color: darkgreen
}

.fail-notif {
    background-color: red;
    border-color: darkred;
}

.notification.show {
    opacity: 1;
    transform: translateY(0);
}